{% extends "base.html" %}
{% block meta %}
      <title>{{ article.title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% if article.summary %}
        <meta name="description" content="{{ article.summary | striptags }}" />
      {% endif %}
        <meta name="keywords" content="programming,web,software,development,code,deployment,adventure,coding"/>
        <meta name="author" content="{{ article.author }}"/>
        <meta property="og:image" content="{{ SITEURL }}/theme/images/thecodeship-default.jpg"/>
        <meta property="og:title" content="{{ article.title }}"/>
        <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}/"/>
        <meta property="og:site_name" content="The Code Ship"/>
        <meta property="og:type" content="blog"/>
        <meta property="og:description" content="{{ article.summary | striptags }}"/>
      {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}" />
      {% endfor %}
{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
    <h1 class="entry-title-article">{{ article.title }}</h1>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <div class="author-message">Enjoyed this post? Help me spread the word and let me know your feedback!</div>
  <div class="addthis_inline_share_toolbox"></div>
  {% if DISQUS_SITENAME %}
    <div id="disqus_thread"></div>
    <script>
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
</section>
{% endblock %}
