<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% block meta %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="" />
  <meta name="keywords" content="programming,web,software,development,code,deployment,adventure,coding" />
  <meta name="author" content="Ayman" />
  <meta name="theme-color" content="#a3806e"/>
  <meta property="og:image" content="{{ SITEURL }}/theme/images/thecodeship-default.jpg" />
  <meta property="og:title" content="The Code Ship" />
  <meta property="og:url" content="https://www.thecodeship.com/" />
  <meta property="og:site_name" content="The Code Ship" />
  <meta property="og:type" content="blog" />
  <meta property="og:description"
    content="Sailing through a sea of code,journey into computer programming and software development." />
  {% endblock %}
  <link rel="icon" sizes="192x192" href="{{ SITEURL }}/theme/images/icons/icon-192x192.png">
  <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/images/icons/icon-192x192.png">
  <link rel="manifest" href="/manifest.json">
  {% block head %}
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
    title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
    title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
    title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
    title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml"
    rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}" type="application/rss+xml"
    rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate"
    title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS.format(slugtag.slug) }}" type="application/rss+xml" rel="alternate"
    title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}
  {% endblock head %}
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

  {% assets filters="scss,cssmin", output="css/style.min.css", "scss/style.scss" %}
  <link rel="stylesheet" type="text/css" href="/{{ ASSET_URL }}" />
  {% endassets %}
</head>

<body id="index" class="home">
  {% if GOOGLE_ANALYTICS  %}
  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ GOOGLE_ANALYTICS }}', 'auto');
    ga('send', 'pageview');

  </script>
  {% endif %}
  <div class="container">
      <div class="offline-status offline-status--hidden" id="js-offline-banner">
        <div></div>
        <div class="offline-status__message">
          <span>Offline</span>
        </div>
        <span class="offline-status__refresh">
          <a href="#" id="js-refresh-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-ccw"><polyline points="1 4 1 10 7 10"></polyline><polyline points="23 20 23 14 17 14"></polyline><path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"></path></svg>
            </a>
        </span>
        </div>
    <header class="site-header" id="js-site-header">
      <div class="mtoggle" id="js-mtoggle">
        <span id="js-mtoggle-open-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-menu">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </span>
        <span id="js-mtoggle-close-icon" class="hidden">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </span>
      </div>
      <div class="logo-wrapper">
        <img class="logo-wrapper--site-logo" src="{{ SITEURL }}/theme/images/logo.png" alt="">
        <div class="logo-wrapper--site-title">
          <a href="{{ SITEURL }}/">
            <svg class="logo-wrapper--logo-title" version="1.1" viewBox="0 0 694.49 141.73"
              xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#"
              xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <g transform="translate(0 -910.63)">
                <text x="10.285706" y="1017.7908" fill="#444" font-family="sans-serif" font-size="180px"
                  letter-spacing="0px" stroke-width="1px" word-spacing="0px" style="line-height:125%"
                  xml:space="preserve">
                  <tspan x="10.285706" y="1017.7908" fill="#444444" font-family="Lobster" font-size="125px">The CodeShip</tspan>
                </text>
              </g>
            </svg>
          </a>
          <h4>Sailing through a sea of code</h4>
        </div>
      </div>
      <div class="links">
        <a href="https://www.thecodeship.com/feed/all.rss.xml" class="rss" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>
        </a>
        <a href="https://www.youtube.com/@thecodeship.stream" class="youtube" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
        </a>
        <a href="https://medium.com/@aymanf" class="medium" target="_blank">
          <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M2.846 6.887c.03-.295-.083-.586-.303-.784l-2.24-2.7v-.403h6.958l5.378 11.795 4.728-11.795h6.633v.403l-1.916 1.837c-.165.126-.247.333-.213.538v13.498c-.034.204.048.411.213.537l1.871 1.837v.403h-9.412v-.403l1.939-1.882c.19-.19.19-.246.19-.537v-10.91l-5.389 13.688h-.728l-6.275-13.688v9.174c-.052.385.076.774.347 1.052l2.521 3.058v.404h-7.148v-.404l2.521-3.058c.27-.279.39-.67.325-1.052v-10.608z"/></svg>
        <a href="https://github.com/aymanfarhat/TheCodeShip" class="github" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
        </a>
      </div>
    </header>
    <hr>
    <div class="content">
      <div class="content--area">
        {% block content %}{% endblock %}
      </div>
    </div>
    <hr>
    <div class="footer">
      <span>
        &copy; Copyright 2019 <a href="http://aymanfarhat.com">Ayman Farhat</a>. Custom theme built with <a href="https://blog.getpelican.com/">Pelican</a>. Fork me on <a href="https://github.com/aymanfarhat/TheCodeShip">Github</a>!
      </span>
    </div>
  </div>
  <div class="side-menu" id="js-side-menu">
    <div class="menu-title"><h2>Topics</h2></div>
    <nav>
      <ul>
        {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, articles in categories %}
        <li{% if cat == category %} class="active" {% endif %}><a
            href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}<sup>{{ articles | count }}</sup></a></li>
          {% endfor %}
          {% endif %}
      </ul>
      <hr>
    </nav>
    <div class="feed">
      Subscribe via
      <ul>
        <li><img src="{{ SITEURL }}/theme/images/email-icon.svg" alt="Email subscribe - Feed Burner"><a
            href="http://feedburner.google.com/fb/a/mailverify?uri=thecodeship/yaMJ&amp;loc=en_US" target="_blank"> Your
            email</a></li>
        <li><img src="{{ SITEURL }}/theme/images/rss-feed-icon.svg" alt="RSS Feed"><a
            href="{{ SITEURL }}/feed/all.rss.xml" target="_blank"> Raw RSS Feed</a></li>
        <li><img src="{{ SITEURL }}/theme/images/feedburner-icon.svg" alt="Reader subscribe - Feed burner"><a
            href="http://feeds.feedburner.com/thecodeship/yaMJ" target="_blank"> Feed burner reader</a></li>
      </ul>
      <hr>
    </div>
  </div>

  {% assets filters="jsmin", output="js/app.min.js", "js/app.js" %}
  <script type="text/javascript" src="/{{ ASSET_URL }}" defer></script>
  {% endassets %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5165a84d1a2a1ff3"
    defer></script>
</body>
</html>
