<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content=""/>
        <meta name="keywords" content="programming,web,software,development,code,deployment,adventure,coding"/>
        <meta name="author" content="Ayman"/>
        <meta property="og:image" content="http://thecodeship.com/static/images/logo.png"/>
        <meta property="og:title" content="The Code Ship"/>
        <meta property="og:url" content="http://thecodeship.com/"/>
        <meta property="og:site_name" content="The Code Ship"/>
        <meta property="og:type" content="blog"/>
        <meta property="og:description" content="Sailing through a sea of code,journey into computer programming and software development."/>
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
        <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        
        {% assets filters="scss,cssmin", output="css/style.min.css", "scss/style.scss" %}
        <link rel="stylesheet" type="text/css" href="/{{ ASSET_URL }}" />
        {% endassets %}
</head>

<body id="index" class="home">
    <div class="container">
        <div class="row">
            <div class="one-fourth column" id="main-sidebar">
                <header id="banner" class="body">
                    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/theme/images/tcs_logo_title.svg" alt="The Code Ship" class="logo-title"></a>
                    <img src="{{ SITEURL }}/theme/images/logo.png" alt="">
                    <h4>Sailing through a sea of code</h4>
                    <hr>
                </header><!-- /#banner -->
                <nav id="menu">
                    <ul>
                      {% if DISPLAY_CATEGORIES_ON_MENU %}
                        {% for cat, articles in categories %}
                        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}<sup>{{ articles | count }}</sup></a></li>
                        {% endfor %}
                      {% endif %}
                    </ul>
                </nav><!-- /#menu -->
                <hr>
                <div class="feed">
                    Subscribe to this blog via
                    <ul>
                        <li><img src="{{ SITEURL }}/theme/images/email-icon.svg" alt="Email subscribe - Feed Burner"><a href="http://feedburner.google.com/fb/a/mailverify?uri=thecodeship/yaMJ&amp;loc=en_US" target="_blank"> Your email</a></li>
                        <li><img src="{{ SITEURL }}/theme/images/rss-feed-icon.svg" alt="Feed burner"><a href="http://feedburner.google.com/fb/a/mailverify?uri=thecodeship/yaMJ&amp;loc=en_US" target="_blank"> Raw RSS Feed</a></li>
                        <li><img src="{{ SITEURL }}/theme/images/feedburner-icon.svg" alt="Reader subscribe - Feed burner"><a href="http://feeds.feedburner.com/thecodeship/yaMJ" target="_blank"> Feed burner reader</a></li>
                    </ul>
                </div>
                <hr>
                <div class="side-footer">
                    Blog by <a href="http://aymanfarhat.com">Ayman Farhat</a>. Built with <a href="https://blog.getpelican.com/">Pelican</a>
                    and hosted on <a href="https://cloud.google.com/" target="_blank">Google Cloud platform</a>.
                </div>
                {% if GOOGLE_ADS_SIDEBAR %}
                    {{ GOOGLE_ADS_SIDEBAR }}
                {% endif %}
            </div>
            <div class="three-fourth column">
                {% block content %}
                {% endblock %}
            </div>
            <a id="forkme" href="https://github.com/aymanfarhat/TheCodeShip"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
        </div>    
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5165a84d1a2a1ff3"></script> 
</body>
</html>
