{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}The Code Ship{% endblock %}</title>
  <meta name="description" content="{% block metadesc %}{% endblock %}" />
  <meta name="keywords" content="{% block keywords %}programming,web,software,development,code,deployment,adventure,coding{% endblock%}"/>
  <meta name="author" content="{% block author %}Ayman{% endblock %}" />
  <meta property="og:image" content="{% block ogimage %}http://{{request.get_host}}{% static "images/logo.png" %}{% endblock %}"/>
  <meta property="og:title" content="{%block ogtitle%}The Code Ship{% endblock %}"/>
  <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
  <meta property="og:site_name" content="The Code Ship"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:description" content="{% block ogdesc %}A journey into computer programming and software development.{% endblock %}"/>
  <link rel="shortcut icon" href="/favicon.png" />
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  {% block optional_js %}{% endblock %}
</head>
<body>
<div class="container">
  <a id="scrollTop"></a>
  {% block sharebar %}{% endblock%}
  <div id="main" role="main">
      {% block content %}{% endblock %}
  </div>
  <aside id="sidebar">
    <div class="sidebarMain">
      <header>
        <h1><a href="{% url home %}">The Code Ship</a></h1>
        <div class="flip">
          <div class="logodesc">
            <div class="logo"></div>
          </div>
        </div>
      </header>
      <nav role="navigation">
        <div class="menu-main-container">
          <ul id="menu-main" class="menu">
            {% for category in all_categories %}
              {% with catabs=category.get_absolute_url %}
                <li><a href="{{catabs}}"
                  {% if catabs == request.get_full_path %}class="selected"{% endif %}>{{category.name}} <sup>{{category.post_set.count}}</sup></a>
                </li>
              {% endwith %}
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
    <div class="sidebarFoot">
      A blog by <a href="http://aymanfarhat.com">Ayman Farhat</a> - built with <a href="http://www.djangoproject.com/">Django</a>
    </div>
  </aside>
</div>
{% block sharebarjs %}{% endblock %}
</body>
</html>