{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}The Code Ship{% endblock %}</title>
  <meta name="description" content="{% block metadesc %}{% endblock %}" />
  <meta name="keywords" content="{% block keywords %}programming,web,software,development,code,deployment,adventure,coding{% endblock%}"/>
  <meta name="author" content="{% block author %}Ayman{% endblock %}" />
  <meta property="og:image" content="{% block ogimage %}http://{{request.get_host}}{% static "images/logo.png" %}{% endblock %}"/>
  <meta property="og:title" content="{%block ogtitle%}The Code Ship{% endblock %}"/>
  <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
  <meta property="og:site_name" content="The Code Ship"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:description" content="{% block ogdesc %}Sailing through a sea of code,journey into computer programming and software development.{% endblock %}"/>
  <!--[if lt IE 9]>
  		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.png" />
  <link rel="stylesheet" href="{% static "css/base.css" %}" />
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}" />
  <link rel="stylesheet" href="{% static "css/layout.css" %}" />
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
		if(typeof jQuery == 'undefined')
			document.write(unescape("%3Cscript src='{% static "js/jquery.min.js"%}' type='text/javascript'%3E%3C/script%3E"));
   </script>
  {% block optional_js %}{% endblock %}
</head>
<body>
	<div class="container">
		<header class="four columns sidebar">
			<h1><a href="{% url home %}">The Code Ship</a></h1>
			<img class="logo" src="{% static "images/logo.png" %}" />
			<h5>Sailing through a sea of code</h5>
			<hr />
			<nav>
				<ul class="menu">
					{% for category in all_categories %}
						{% if category.post_set.count > 0 %}
							{% with catabs=category.get_absolute_url %}
								<li>
								<a href="{{catabs}}" {% if catabs == request.get_full_path %}class="selected"{%endif%}>{{category.name}}<sup>{{category.post_set.count}}</sup></a></li>
							{% endwith %}
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
			<hr />
			<div class="feed">
				<a href="http://feeds.feedburner.com/thecodeship/yaMJ" target="_blank"><img src="{% static "images/rss.png"%}" />&nbsp; Subscribe in a reader</a><br />
				<a href="http://feedburner.google.com/fb/a/mailverify?uri=thecodeship/yaMJ&amp;loc=en_US" target="_blank"><img src="{% static "images/mail.png"%}" />&nbsp; Subscribe via email</a>
			</div>
			<hr />
			<div class="sidefoot">
				Blog by <a href="http://aymanfarhat.com">Ayman Farhat</a>. Built with <a href="https://www.djangoproject.com/">Django</a>.
			</div>
		</header>
		<div class="eleven columns content">
			{%block content%}{%endblock%}
		</div>
		{% block sharebar %}{% endblock%}
	</div>
	{% block sharebarjs %}{% endblock %}
	{% block templates %}{% endblock %}
</body>
</html>
