{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block metadesc %}{{post.meta_desc}}{% endblock %}
{% block keywords %}{{post.tags.all|join:","}}{% endblock %}
{% block author %}{{post.author}}{% endblock %}
{% block ogtitle %}{{post.title}} | The Code Ship{% endblock %}
{% block ogdesc %}{{post.content|truncatewords_html:35|striptags}}{% endblock %}
{% block optional_js %}
<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/tomorrow-night-eighties.min.css">
<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script type="text/javascript" src="{% static "js/scroll.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
  	hljs.tabReplace = '    ';
  	hljs.initHighlightingOnLoad();

    $(window).bind('scroll',showScrollToTop);
    $('#scrollTop').bind('click',scrollUp);
  });
</script>
{% endblock %}
{% block title %}{{post.title}} | The Code Ship{% endblock %}
{% block content %}
	<article class="post">
		<header>
			<time datetime="{{post.created|naturaltime}}">{{post.created|naturaltime|capfirst}}</time>
			<h1>{{post.title}}</h1>
		</header>
		<p>
			{{post.content|safe}}
		</p>
		<ul class="taglist">
			{% for tag in post.tags.all %}
				<li><a href="{%url showtag tag%}">#{{tag}}</a></li>
			{% endfor %}
		<div class="clear"></div>
		</ul>
		<div id="sharebar">
      		<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
      		<a class="addthis_button_tweet" tw:count="vertical"></a>
      		<a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
 		</div>
	</article>
	<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'thecodeship';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
{% block sharebarjs %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5102b41029aef194"></script>
{% endblock %}
