{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block metadesc %}{{post.meta_desc}}{% endblock %}
{% block keywords %}{{post.tags.all|join:","}}{% endblock %}
{% block author %}{{post.author}}{% endblock %}
{% block ogtitle %}{{post.title}} | The Code Ship{% endblock %}
{% block ogdesc %}{{post.content|truncatewords_html:35|striptags}}{% endblock %}
{% block optional_js %}
<link rel="stylesheet" href="{% static "css/highlightjs/tomorrow-night-eighties.css" %}" />
<script src="{% static "js/highlightjs/highlight.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/scroll.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
  	hljs.tabReplace = '    ';
	$('code').each(function(i,e){hljs.highlightBlock(e);});
    $(window).bind('scroll',showScrollToTop);
    $('#scrollTop').bind('click',scrollUp);
  });
</script>
{% endblock %}
{% block title %}{{post.title}} | The Code Ship{% endblock %}
{% block content %}
	<article class="post">
		<header>
			<time datetime="{{post.created|naturaltime}}">{{post.created|naturaltime|capfirst}}</time>
			<h1>{{post.title}}</h1>
		</header>
		<p>
			{{post.content|safe}}
		</p>
		<ul class="taglist">
			{% for tag in post.tags.all %}
				<li><a href="{%url showtag tag%}">#{{tag}}</a></li>
			{% endfor %}
		<div class="clear"></div>
		</ul>
		<div id="sharebar">
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_reddit"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5165a84d1a2a1ff3"></script>
		</div>
	</article>
	<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'thecodeship';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
