{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block metadesc %}{{post.meta_desc}}{% endblock %}
{% block keywords %}{{post.tags.all|join:","}}{% endblock %}
{% block author %}{{post.author}}{% endblock %}
{% block optional_js %}
<script type="text/javascript" src="{% static "js/scroll.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
    $(window).bind('scroll',showScrollToTop);
    $('#scrollTop').bind('click',scrollUp);
  });
</script>
{% endblock %}
{% block title %}{{post.title}} | The Code Ship{% endblock %}
{% block sharebar %}
<div id="sharebar">
      <a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
      <a class="addthis_button_tweet" tw:count="vertical"></a>
      <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
 </div>
{% endblock %}
{% block content %}
	<article>
		<header>
			<time datetime="{{post.created|naturaltime}}">{{post.created|naturaltime}}</time>
			<h1>{{post.title}}</h1>
		</header>
		<p>
			{{post.content|safe}}
		</p>
		<ul class="taglist">
			{% for tag in post.tags.all %}
				<li><a href="{%url showtag tag%}">#{{tag}}</a></li>
			{% endfor %}
		<div class="clear"></div>
		</ul>
	</article>
{% endblock %}
{% block sharebarjs %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5102b41029aef194"></script>
{% endblock %}