{% extends "base.html "%}
{% load humanize %}
{% load staticfiles %}
{% block optional_js %}
<script type="text/javascript" src="{% static "js/scroll.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
    $(window).bind('scroll',loadOnScroll);
    $(window).bind('scroll',showScrollToTop);
    $('#scrollTop').bind('click',scrollUp);
  });
</script>
{% endblock %}
{% block content %}
<ul class="postlist">
  {% for post in posts %}
    <li>
      <article>
        <header>
            <time datetime="{{post.created|naturaltime}}" pubdate>{{post.created|naturaltime}}</time>
            <h1><a href="{{post.get_absolute_url}}" rel="bookmark" title="{{post.title}}">{{post.title}}</a></h1>
        </header>
        <p>
          {{post.content|truncatewords_html:50|safe}}
        </p>
        <p><a href="{{post.get_absolute_url}}" class="more-link">Read more &#9660;</a></p>
      </article>
    </li>
  {% empty %}
      We couldn't find any under this tag to show, come back later!
  {% endfor %}
</ul>
<div class="postloading"><div class="spinner"></div></div>
{% endblock %}