# Python git ignore
*~
*.orig
*.pyc
*.rej
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
media/uploads
tmp
.DS_Store

# Vim git ignore
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

/output
/content_backup
publishconf.py
