.tomorrow-comment, code .comment, code .title {
  color: #999999;
}

.tomorrow-red, code .variable, code .attribute, code .tag, code .regexp, code .ruby .constant, code .xml .tag .title, code .xml .pi, code .xml .doctype, code .html .doctype, code .css .id, code .css .class, code .css .pseudo {
  color: #f2777a;
}

.tomorrow-orange, code .number, code .codeprocessor, code .built_in, code .literal, code .params, code .constant {
  color: #f99157;
}

.tomorrow-yellow, code .ruby .class .title, code .css .rules .attribute {
  color: #ffcc66;
}

.tomorrow-green, code .string, code .value, code .inheritance, code .header, code .ruby .symbol, code .xml .cdata {
  color: #99cc99;
}

.tomorrow-aqua, code .css .hexcolor {
  color: #66cccc;
}

.tomorrow-blue, code .function, code .python .decorator, code .python .title, code .ruby .function .title, code .ruby .title .keyword, code .perl .sub, code .javascript .title, code .coffeescript .title {
  color: #6699cc;
}

.tomorrow-purple, code .keyword, code .javascript .function {
  color: #cc99cc;
}

pre code {
  display: block;
  padding: 0.5em;
}

code {
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.3em;
}

code.coffeescript .javascript,
code.javascript .xml,
code.tex .formula,
code.xml .javascript,
code.xml .vbscript,
code.xml .css,
code.xml .cdata {
  opacity: 0.5;
}
