body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a:link    { color : #4183c4 ; text-decoration : none ;      }
a:hover   { color : #4183c4 ; text-decoration : underline ; }
a:visited { color : #4183c4 ;                               }

h1 a { color : inherit !important }
h2 a { color : inherit !important }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }

pre {
    margin : 2em 1em 2em 4em ;
}

#menu li {
    display : inline ;
}

#post-list {
    margin-bottom : 1em ;
    margin-top : 1em ;
}
