@import 'normalize';
@import 'variables';
@import 'syntax';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #333;
    background-color: $bggrey;
    font-family: 'Open Sans', sans-serif;

    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, #menu {
    font-family:'Cabin',Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.site-header {
    margin-top:10px;
    grid-area: header-area;
    display: grid;
    grid-template-columns: 10% 80% 10%;

    .mtoggle, .links {
      color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .links {
      justify-content: space-around; 
      .github {
        display: none;
      }
    }

    .mtoggle {
      cursor: pointer;
      z-index: 500;
    }

    .logo-wrapper {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      h4 {
        font-size: 12px;
        padding: 0;
        margin: 0;
      }

      &--logo-title {
          width:140px;
      }

      &--site-logo {
        flex-grow: 0;
        flex-shrink: 0;
        width: 70px;
      }
    }
}

.content {
  &--area {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: minmax(0, 2fr);
  }

  .entry-content {
      a {
          color:$brown ;
          font-weight: bold;
          text-decoration: underline;
      }

      p {
          margin: 0 0 20px 0;
      }

      h2 {
          margin-top: 30px;
      }
      
      ul {
          li {
              line-height: 18px;
              margin-bottom: 12px;
          }
      }
  }
}

.entry-title {
    font-size: 22px;
}

h1.entry-title-article {
    margin-top: 5px;
    line-height: 35px;
   font-size: 28px;
}


.entry-content {
    font-size: 15px;
    line-height: 24px;
}

article {
    font-weight: normal;

    header {
        h2 {
            &.entry-title {
                margin-top: 5px;
            } 

            a {
                font-weight: normal;
            }
        }

    }
}

time.published {
    color: $darkGrey;
    font-size: 12px;
}

#post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    article.hentry {
        margin-bottom: 50px;
    }
}

.side-menu {
  .menu-title {
    text-align: center;
    width: 200px;
  }

  nav {
    width: 200px
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 17px;
      margin-left: 10px;

      li {
          line-height: 20px;
          margin-left: 0;
          margin-top: 20px;

          &:first-child {
              margin-top: 0; 
          }
      }
  }
}

ul.taglist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;

    li {
        float: left;
        margin-right: 8px;
        list-style-type: none;
        margin-left: 0;

        a {
            color: $darkGrey; 
            font-size: 14px;
            &:before {
                content: "#"; 
            }

            &:hover {
                color: $brown; 
            }
        }
    }
}

.feed {
    ul {
        list-style-type: none;
        padding: 0;
        li {
            margin-bottom: 10px;
            img {
                width: 1.4em;
                vertical-align: top;
            }
        }
    }
}

.side-footer {
    font-size: 12px;
    margin-bottom: 10px;

    a {
        text-decoration: none;
        font-weight: bold;
    }
}

.author-message {
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
}

.addthis_inline_share_toolbox {
    margin-bottom: 20px;
}

.highlight pre {
    padding: 0.5em;
    font-size: 14px;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 700px;
}

a { color : $black; text-decoration : none; }
a:hover { color : $brown; }


/* Mobile first styles go first */
h1 {
    font-size: 1.5rem;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 10px;
    height: 0;
}

sup {
    vertical-align: super;
    font-size: 14px;
}

.feed {
    display: none;
}

.sidebar-ad-container {
    display: none;
}

#forkme {
  display: none;
}


#menu {
  display: none;
}

.footer {
  grid-area: footer-area;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

.offline-status {
  display: grid;
  background-color: #CCC;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;

  &__message {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__refresh {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }

  &--hidden {
    display: none;
  }
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: $bggrey;
  overflow-x: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
  padding-top: 5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &__open {
    width: 200px;
  }

  &--content {
    padding: 0 10px 0 10px;
    text-align: center;
  }
}

.hidden{
  display: none;
}    

@media (min-width: 800px) {
  .site-header {
    .links {
      .github {
        display: block;
      }
    }
  }
  .content {
    &--area {
      width: 70%;
    }
  }
}