@import 'normalize';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

$blue: #4183c4;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a:link    { color : $blue; text-decoration : none ;      }
a:hover   { color : $blue; text-decoration : underline ; }
a:visited { color : $blue;                               }

pre {
    margin : 2em 1em 2em 4em ;
}

#menu li {
    display : inline ;
}

#post-list {
    margin-bottom : 1em ;
    margin-top : 1em ;
}

/* Mobile first styles go here */
h1 {
    font-size: 1.5rem;
    }

@media screen and (min-width: 800px) {
    h1 {
        font-size: 2rem;
    }
}

.container {
  margin: 0 auto;
    padding: 0 10px;
  max-width: 1000px;
  }

  .row::before,
  .row::after {
    display: table;
  content: " ";
    clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.three-fourth,
.half {
  width: 100%;
  }

@media only screen and (min-width: 800px) {
  .one {
      width: 100%;
    }
  .half {
      width: calc(100% / 2);
    }
  .one-third {
      width: calc(100% / 3);
    }
  .one-fourth {
      width: calc(100% / 4);
    }

  .three-fourth {
      width: calc((100% / 4) * 3);
    }

  .two-thirds {
      width: calc(100% / 3 * 2);
    }
  .column {
      float: left;
    }
}
