@import 'normalize';
@import 'variables';
@import 'grid';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #333;
    background-color: $bggrey;
    font-family:'Cabin',Helvetica,Arial,sans-serif;
    font-weight: normal;
}

#banner h1 {
        font-family: 'Lobster',Helvetica,Arial,sans-serif;
        font-size: 35px;
        font-weight: normal;
        color: $headerBlack;
}

#main-content {
    border-left: 1px #ddd solid;
        //padding-left: 25px;
}

#main-sidebar {
    padding: 0 10px 0 10px;
    text-align: center;
}

.entry-content {
    font-size: 15px;
    line-height: 21px;
}

article {
    font-weight: normal;
}

article header h2.entry-title {
    margin-top: 5px;
}

article time {
    color: $darkGrey;
    font-size: 12px;
}

article header h2 a {
    font-weight: normal;
}

#post-list li {
    margin-bottom: 50px;
}

a { color : $black; text-decoration : none; }
a:hover { color : $brown; }


/* Mobile first styles go first */
h1 {
    font-size: 1.5rem;
}

#post-list {
    list-style-type: none;  
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}

@include wideTablet {
    h1 {
        font-size: 2rem; 
    }
}
