/* #Site Styles
================================================== */
body
{
	font-size: 15px;
	line-height: 1.22;
	background-color: #efefef;
}
body,h1,h2,h3,h4,h5
{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.container{margin-top:10px;}

header.sidebar{text-align:center;margin-right:15px;}

header.sidebar h1
{
	font-family: 'Lobster', Helvetica, Arial, sans-serif;
	font-size: 35px;
}

header.sidebar nav ul.menu { font-size:20px; }

header.sidebar nav ul.menu li {line-height:20px;}
header.sidebar nav ul.menu li a{font-weight:normal;}

header.sidebar .feed{line-height:25px;}
header.sidebar .feed a {font-weight:normal;}
header.sidebar .sidefoot{font-size:12px;}

.content 
{
	border-left:1px #ddd solid;
	padding-left:25px;
}

.content .postlist li article{margin-bottom:40px;}

.content .postlist li article a{font-weight:normal;}

.content article header time{color:#9BA09E;font-size:12px;}

.content article header h2
{
	font-size:22px;
}

.content article ul.taglist 
{
	list-style-type: none;
	clear: both;
	margin:0;
}

.content article ul.taglist li 
{
	float: left;
	margin-right: 8px;
}

.content article ul.taglist li p
{
	margin-bottom:10px;
}

.content article #sharebar{margin-top:15px;margin-bottom:25px;}

ul.taglist li a{color:#9BA09E;font-weight:normal;}
ul.taglist li a:hover{color:#a3806e;}
a {color:#333;text-decoration:none;font-weight:bold;}
a:hover{color:#a3806e;}

sup
{
	vertical-align: super;
	font-size: 14px;
}
.content .postloading{text-align:center;width:100%;height:32px;}
.content .postloading .spinner
{
	width:32px;
	height:32px;
	margin:0 auto;
	background:url("../images/loader.gif") center no-repeat;
	display:none;
}

/* #Page Styles
================================================== */
.content article.post header h1
{
	font-size:28px;
	line-height:35px;
}

.content article.post h2 { font-size:22px;}
.content article.post h3 { font-size:18px;}
.content article.post p {line-height:24px;}
.content article.post code.inline{font-size:13px;}
.content article.post code{font-family:monospace;font-size:14px;overflow-y:auto;overflow-x:auto;max-height:420px;}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		header.sidebar h1{
			font-size:30px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header.sidebar .logo, header.sidebar .feed, header.sidebar .sidefoot{display:none;}
		.content{padding:0;border:none;}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
