html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

article, aside, figure, footer, header, hgroup, nav, section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

input, select {
	vertical-align:middle;
}

body {
	font-size:13px;
	
	*font-size:small;
	*font:x-small;
	line-height:1.22;
}

table {
	font-size:inherit;
	font:100%;
}

select, input, textarea {
	font:99% sans-serif;
}

pre, code, kbd, samp {
	font-family:monospace, sans-serif;
}

body, select, input, textarea {
	color:#444;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	text-rendering:optimizeLegibility;
}

html {
	-webkit-font-smoothing:antialiased;
}

a:hover, a:active {
	outline:0;
}

a:hover {
	color:#036;
}

small {
	font-size:85%;
}

strong, th {
	font-weight:bold;
}

td, td img {
	vertical-align:top;
}

sub {
	vertical-align:sub;
	font-size:smaller;
}

sup {
	vertical-align:super;
	font-size:14px;

}

pre {
	padding:15px;
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
.codeblock pre{border:1px #DDD solid;}

input[type="radio"] {
	vertical-align:text-bottom;
}

input[type="checkbox"] {
	vertical-align:bottom;
	*vertical-align:baseline;
}

.ie6 input {
	vertical-align:text-bottom;
}

label, input[type=button], input[type=submit], button {
	cursor:pointer;
}


::-moz-selection {
	color: #000;
	background-color: #E7E9F0;
	text-shadow:none;
}

::selection {
	color: #000;
	background-color: #E7E9F0;
	text-shadow:none;
}

html {
	overflow-y:scroll;
}

button {
	width:auto;
	overflow:visible;
}

.ie7 img {
	-ms-interpolation-mode:bicubic;
}

.ir {
	display:block;
	text-indent:-999em;
	overflow:hidden;
	background-repeat:no-repeat;
}

.hidden {
	display:none;
	visibility:hidden;
}

.visuallyhidden {
	position:absolute!important;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px, 1px, 1px, 1px);
}

.invisible {
	visibility:hidden;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {
	display:inline-block;
}

* html .clearfix {
	height:1%;
}

.clearfix {
	display:block;
}

a {
	color:#808080;
	text-decoration:none;
	-webkit-transition:color .1s ease-in;
	-moz-transition:color .1s ease-in;
	-o-transition:color .1s ease-in;
	transition:color .1s ease-in;
}

a:hover {
	color:#333;
	-webkit-transition:color .1s ease-in;
	-moz-transition:color .1s ease-in;
	-o-transition:color .1s ease-in;
	transition:color .1s ease-in;
}

.container {
	width:960px;
	margin:auto;
}

#main {
	width:585px;
	float:right;
	background-color:white;
	padding:20px 60px 30px 60px;
	min-height:100%;
	box-shadow: 0 1px 10px #A7A7A7, inset 0 1px 0 white;
}

body {
	background-color:#efefef;
}

article {
	margin-bottom:25px;
	font-size:14px;
	line-height:22px;
}

img {
	border-radius:10px;
}

header h1 {
	font-family: 'Lobster', Helvetica, Arial, sans-serif;font-size:35px;margin-bottom:5px;
}
header h1 a{color:#000;}
header h1 a:hover{color:grey;}
#sidebar {
	position:fixed;
    width:242px;
}

#sidebar .sidebarMain
{
	background-color:#FFF;
	padding:15px 15px 15px 15px;
	box-shadow: 0 1px 10px #A7A7A7, inset 0 1px 0 white;
}

#sidebar .sidebarFoot, #sidebar .sidebarMain{ text-align:center;}

#sidebar .sidebarFoot{padding:5px 0 0 0;}

#sidebar>nav {
	margin-bottom:8px;
}

nav li {
	font-size:22px;
	line-height:38px;
}

nav li a {
	color:black;
}

nav li a:hover {
	color:grey;
}
nav li a.selected
{
	color:grey;
}

nav li li {
	font-size:12px;
	line-height:16px;
}

nav>div>ul>li.current-menu-parent>a {
	color:#333;
}


time {
	color:#808080;
	font-size:12px;
}

article h1 {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	color:#333;
	font-size:18.50px;
	font-weight:bold;
	margin:0 0 15px 0;
	line-height:24px;
	word-spacing:2px;
	text-transform: uppercase;
}

article h1 a {
	color:#333;
	text-decoration:none;
}

article h1 a:hover {
	color:#808080;
}

article h2 {
	margin-bottom:12px;
	font-size:14px;
	font-weight:normal;
	word-spacing:1px;
}

article h3 {
	margin-bottom:10px;
	font-size:12px;
	font-weight:normal;
	word-spacing:1px;
}

article h4 {
	margin-bottom:10px;
	font-weight:normal;
	word-spacing:1px;
}

article p, article ol, article ul {
	margin-bottom:10px;
}

article ul.taglist{list-style-type: none;clear:both;margin-top:25px;}
article ul.taglist li{float:left; margin-right:8px;}
article ul.taglist li a{ border:1px #CCC solid; padding:2px 3px;}

#older, #newer {
	font-size:14px;
}

#newer {
	float:right;
}

#older {
	float:left;
}

.commentlist, .children {
	list-style:none;
}