html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {display:block;}

nav ul,ul.postlist {list-style:none;}

a 
{
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body 
{
	font-size:13px;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	*font-size:small;
	*font:x-small;
	line-height:1.22;
	background-color:#efefef;
	background-image: url('../images/bg.png');
}

table 
{
	font-size:inherit;
	font:100%;
}

h1, h2, h3, h4, h5, h6 
{
	font-weight:bold;
	text-rendering:optimizeLegibility;
}

html {-webkit-font-smoothing:antialiased;}

a:hover, a:active {outline:0;}

a:hover {color:#036;}

small {font-size:85%;}

strong, th {font-weight:bold;}

td, td img {vertical-align:top;}

sub 
{
	vertical-align:sub;
	font-size:smaller;
}

sup 
{
	vertical-align:super;
	font-size:14px;
}

pre 
{
	padding:15px;
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}

::-moz-selection 
{
	color: #444;
	background-color: #E7E9F0;
	text-shadow:none;
}

::selection 
{
	color: #444;
	background-color: #E7E9F0;
	text-shadow:none;
}

button 
{
	width:auto;
	overflow:visible;
}

.ie7 img {-ms-interpolation-mode:bicubic;}

.ir 
{
	display:block;
	text-indent:-999em;
	overflow:hidden;
	background-repeat:no-repeat;
}

.hidden 
{
	display:none;
	visibility:hidden;
}

.invisible {visibility:hidden;}

.clearfix:after 
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

a 
{
	color:#808080;
	text-decoration:none;
	-webkit-transition:color .1s ease-in;
	-moz-transition:color .1s ease-in;
	-o-transition:color .1s ease-in;
	transition:color .1s ease-in;
}

a:hover 
{
	color:#333;
	-webkit-transition:color .1s ease-in;
	-moz-transition:color .1s ease-in;
	-o-transition:color .1s ease-in;
	transition:color .1s ease-in;
}

.container 
{
	width:950px;
	margin:auto;
}

#main 
{
	width:585px;
	float:right;
	background-color:white;
	padding:20px 50px 30px 50px;
	min-height:100%;
	box-shadow: 0 1px 10px #A7A7A7, inset 0 1px 0 white;
}

article 
{
	margin-bottom:25px;
	font-size:14px;
	line-height:22px;
}

img {border-radius:10px;}

header h1 {font-family:'Lobster', Helvetica, Arial, sans-serif;font-size:35px;margin-bottom:5px;}
header h1 a{color:#444;}
header h1 a:hover{color:grey;}

#sidebar 
{
	position:fixed;
    width:242px;
}

#sidebar .sidebarMain
{
	background-color:#FFF;
	padding:15px 15px 15px 15px;
	box-shadow: 0 1px 10px #A7A7A7, inset 0 1px 0 white;
}

#sidebar .sidebarMain .flip 
{
  -webkit-perspective: 800;
    position: relative;
}

#sidebar .sidebarMain  .flip .logodesc.flipped {-webkit-transform: rotatey(-180deg);}

#sidebar .sidebarMain .logodesc
{
	width:100%;
	height:206px;
	-webkit-transform-style: preserve-3d;
  	-webkit-transition: 0.5s;
}

#sidebar .sidebarMain .logodesc .logo
{
	background:#fff url('../images/logo.png') no-repeat center;
	width:100%;
	height:100%;
	position: absolute;
 	-webkit-backface-visibility: hidden ;
    z-index: 2;
    position: absolute;
  	z-index: 1;
  	cursor: pointer;
}
#sidebar .sidebarMain .logodesc .desc
{
	position: absolute;
 	-webkit-backface-visibility: hidden ;
    z-index: 2;
    -webkit-transform: rotatey(-180deg);
    cursor: pointer;
}

#sidebar .sidebarFoot, #sidebar .sidebarMain{ text-align:center;}

#sidebar .sidebarFoot{padding:10px 0 0 0;}


nav li {
	font-size:20px;
	line-height:32px;
}

nav li a {color:black;}

nav li a:hover {color:grey;}
nav li a.selected{color:grey;}

nav li li 
{
	font-size:12px;
	line-height:16px;
}

time 
{
	color:#808080;
	font-size:12px;
}

article h1 
{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	color:#333;
	font-size:18.50px;
	font-weight:bold;
	margin:0 0 15px 0;
	line-height:24px;
	word-spacing:2px;
	text-transform: uppercase;
}

article h1 a 
{
	color:#333;
	text-decoration:none;
}

article h1 a:hover {color:#808080;}

article h2 
{
	margin-bottom:12px;
	font-size:14px;
	font-weight:normal;
	word-spacing:1px;
}

article h3 
{
	margin-bottom:10px;
	font-size:12px;
	font-weight:normal;
	word-spacing:1px;
}

article h4 
{
	margin-bottom:10px;
	font-weight:normal;
	word-spacing:1px;
}

article p, article ol, article ul {margin-bottom:10px;}

article ul.taglist{list-style-type: none;clear:both;}
article ul.taglist li{float:left; margin-right:8px;}
article ul.taglist li a{padding:2px 3px;font-size:16px;}

.postloading{text-align:center;width:100%;height:32px;}
.postloading .spinner{width: 32px;height: 32px;margin: 0 auto;background:url("../images/loader.gif") center center no-repeat;display:none;}

#scrollTop
{
	float:right;
	width:60px;
	height:63px; 
	background: #ddd url('../images/up-arrow.png') no-repeat center center;
	position:fixed;
	bottom:30px;
	right:120px;
	z-index:10;
	min-width:0;
	display:none;
	cursor: pointer;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#scrollTop:hover
{
	background-color: #808080;
}

.clear{clear:both;}

#sharebar
{
	width:50px;
	right:100px;
	position:fixed;
	text-align:center;
	background-color: #FFF;
	padding: 15px 15px 15px 15px;
	box-shadow: 0 1px 10px #A7A7A7, inset 0 1px 0 white;
	line-height:30px;
}